body{
    background-color: #222222;
    text-shadow: 2px 2px #aaaaaa;
    font-family: 'Trebuchet MS';
    position: absolute;
    color: #dddddd;
    font-size: 40px;
}
#datediv{
    top:20px;
    left: 5%;
}